@import "tailwindcss";

:root {
  /* Burayı temiz tutuyoruz, varsayılan arka plan yok */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  margin: 0;
  padding: 0;
  /* Arka planı burada tanımlama, her sayfa kendi rengini belirlesin */
}